*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color: #750851d7;
}
.wrapper {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    max-width:90vw;
    min-height: 90vh;
    margin: auto;
    padding: 10px;
    background-color: rgb(226, 19, 216);
    border-radius: 5%;

}

header{
width: 90%;
/* border: 2px solid red; */
}
header h1{
    text-align: left;
    color: rgb(238, 8, 207);
    
}

.todo-form {
    width: 80vw;
    margin: auto;
    background-color: red;

}


